@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Hotel CSV Sample Projesi

    <br />
    Proje N katmanlı mimariye göre çalışılmıştır.

    UI, API, Entity ve Data katmanı olarak çalışmıştır.

    DataBase SQL Lite ile kullanılmıştır. EF Core Provider ile yapılmıştır. MS SQL ile aynı mantıktadır.
    Data yazma için Repository Pattern Design yapısı oluşturulmuş ama yapı sisteme entegre edilmemiştir.
    
    <br/>
    Data kontrolü için FluentValitation kütüphanesi kullanılmıştır.
    3 validation işleminden biri şuan aktif olarak çalışmakta diğer kodlar yorum satırı olarak bırakılmıştır. 
  

    <br/>
    CSV dosya işlemi için CSVHelper kütüphanesi kullanılmıştır.

    UI için bootstrap ve jquery kullanılmıştır.
    <br />
    CSV Dosyası upload işlemi - API üzerinden yapılmaktadır. Yine veriler API üzerinden CSV ve SQL Lite okunan veriler UI gönderilmektedir.

    <br/>
    Unit Test Hiç yazmadım ama projeye eklenmiştir ilerleyen sürede testler eklenecektir.
    <br />
    Geliştirmesi Devam edecekler;
    <br />
    AutoMapper kullanımı , dependency injection göre geliştirme,  Listelemede Paging yapısı,  JWT token kullanımı,
    Angular UI- Repository Patern -  SOLID ' e göre iyileştirmeler.' Diğer veri türlerinde işlemler, Docker 


</div>
