Dosya Ekle
<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    <label>Dosya seçiniz: </label>
<input  type="file"  name="file" />
<br/>
<div>
<button type="submit">Gönder</button>

</div>


</form>